<div class="nav-bar sticky-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 border-bottom-0 shadow-none">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a><img alt="IteamPay logo" height="48px" width="48px" class="logo" [src]="logoPath"></a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-light" href="#">Services</a>
    <a class="p-2 text-light" href="#">Developers</a>
    <a class="p-2 text-light" href="#">Contact us</a>
    <a class="p-2 text-light" href="#">About us</a>
  </nav>

  <a class="btn btn-outline-light p-1 px-4 mr-2" href="#">Log in</a>
  <a class="btn btn-outline-light p-1 px-4" href="#">Sign up</a>

  <button class="navbar-toggler p-2" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <fa-icon class="bg-dark" [icon]="['far', 'bell']"></fa-icon>
  </button>
</div>
