<footer class="footer container-fluid ">
  <div class="partners row p-2">
    <div class="col-6 col-md text-center align-self-center align-items-center">
      <h3>Compliance</h3>
    </div>
    <div class="col-3 col-sm-2">
      <img alt="PCI DSS compliance" class="img-fluid" style="height: 67px" src="../../assets/img/pci-dss%20certikit/certikit/pci-level-1.png">
    </div>
    <div class="col-3 col-sm-2">
      <img alt="Mastercard - ITeamPay's pay partner" src="../../assets/img/paypartners/MasterCard.png">
    </div>
    <div class="col-3 col-sm-2">
      <img alt="VISA - ITeamPay's pay partner" src="assets/img/paypartners/Visa.png">
    </div>
    <div class="col-3 col-sm-2">
      <img alt="Mastercard Secure - ITeamPay's pay partner" src="assets/img/paypartners/MasterCard-SecureCode.png">
    </div>
    <div class="col-3 col-sm-2">
      <img alt="Verified by VISA - ITeamPay's pay partner" src="assets/img/paypartners/Verified-by-Visa.png">
    </div>
  </div>
  <div class="row p-5">
    <div class="col-12 col-md text-center">
      <img class="img-fluid" src="assets/img/logo.jpg" alt="" >
      <small class="d-block mb-3 text-muted">© 2017-2019</small>
    </div>
    <div class="col-6 col-md text-center">
      <h5>Products/Services</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Mobile Network VAS</a></li>
        <li><a class="text-muted" href="#">Fintech Payments</a></li>
        <li><a class="text-muted" href="#">SAAS Cloud Solutions</a></li>
        <li><a class="text-muted" href="#">Custom App Solutions</a></li>
        <li><a class="text-muted" href="#">E-Commerce</a></li>
        <li><a class="text-muted" href="#">Mobile Commerce</a></li>
      </ul>
    </div>
    <div class="col-6 col-md text-center">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">API</a></li>
        <li><a class="text-muted" href="#">SDK</a></li>
        <li><a class="text-muted" href="#">Plugins</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md text-center">
      <h5>About us</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
    <div class="col-6 col-md text-center">
      <h5>Our Office</h5>
      <p class="text-muted" >
        16 Fricker Road,
        Illovo,
        Johannesburg
      </p>
      <p class="text-muted" >
        (+00) 99 33 247
      </p>
      <p class="text-muted" >
        Info@iteampay.co.za
      </p>
    </div>
  </div>

  <div>
    <small>
      The ecoPayz Mastercard and the ecoPayz Business Mastercard are issued by PSI-Pay Ltd pursuant to licence by Mastercard International Incorporated. ecoPayz is a registered trading name of PSI-Pay Ltd, company authorised and regulated by the Financial Conduct Authority of the United Kingdom under the Electronic Money Regulations 2011 (register reference number 900011) for the issuing of electronic money. PSI-Pay Ltd is a company registered in England & Wales (registration number 5899168) with a registered office at Afon House, Worthing Road, Horsham, West Sussex, RH12 1TL, England. Mastercard® is a registered trademark, and the circles design is a trademark of Mastercard International Incorporated.
    </small>
  </div>
</footer>
