<div class="container-fluid row text-right align-items-center align-content-center align-self-center w-75 p-5">
  <div class="col-sm align-self-center w-50">
    <p>Payment Solution of the Year and Best Cross-Border Payments Solution nominations FS tech awards 2019 - shortlistedGlobal Gaming Awards 2019 - shortlisted</p>
  </div>
  <div class="col-sm align-self-lg-start text-left">
    <img alt="ITeamPay award" src="favicon.ico">
  </div>
</div>

<!-- Info Block 1 -->
<div class="inf1">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <img alt="ITeamPay placeholder image" class="img-fluid" src="assets/img/dash1.jpg">
    </div>
    <div class="col-sm">
      <h2 class="mb-4">Freedom to make secure online payments</h2>
      <p>
        With an ecoAccount receive, send and spend money worldwide all on one online account.
      </p>
      <p>
        Add a prepaid card to your ecoAccount*, and enjoy instant freedom to spend at millions of locations and to withdraw funds at ATMs.

        Free* and quick to apply for with no credit checks, choose between the ecoCard, or the virtual one-use ecoVirtualcard.*
      </p>
      <div class="col mt-5">
        <button class="btn btn-success px-3 p-3 ">Create an Account</button>
        <a class="link1 p-3" href="#">Learn More</a>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Info Block 2 -->
<div class="inf2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <h2 class="mb-4">Pay online with total confidence</h2>
        <p>
          Pay online with total confidence
          ecoPayz uses the latest security and fraud protection technology to provide you with a fast, secure way of transferring funds to and from our merchants, partners and spending safely online.
        </p>
        <p>
          The security and integrity of your personal information is our top priority, and your financial information is never shared with anyone, even when you pay directly on sites.
        </p>
        <div class="col mt-5">
          <button class="btn btn-success px-3 p-3 ">Create an Account</button>
          <a class="link2 p-3" href="#">Learn More</a>
        </div>
      </div>
      <div class="col-sm">
        <img alt="ITeamPay placeholder image" style="color: white !important;" class="img-fluid" src="assets/img/dash2.jpg">
      </div>
    </div>
  </div>
</div>

<!-- Info Block 3 -->
<div class="inf1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <img alt="ITeamPay placeholder image" class="img-fluid" src="assets/img/card.jpg">
      </div>
      <div class="col-sm">
        <h2 class="mb-4">Complete control over your spending</h2>
        <p>
          Complete control over your spending
        </p>
        <p>
          Add a prepaid card to your ecoAccount*, and enjoy instant freedom to spend at millions of locations and to withdraw funds at ATMs.

          Free* and quick to apply for with no credit checks, choose between the ecoCard, or the virtual one-use ecoVirtualcard.*
        </p>
        <div class="col mt-5">
          <button class="btn btn-success px-3 p-3 ">Create a Card</button>
          <a class="link1 p-3" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Info Block 4 -->
<div class="inf2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <h2 class="mb-4">Complete control over your spending</h2>
        <p>
          Complete control over your spending
        </p>
        <p>
          Add a prepaid card to your ecoAccount*, and enjoy instant freedom to spend at millions of locations and to withdraw funds at ATMs.

          Free* and quick to apply for with no credit checks, choose between the ecoCard, or the virtual one-use ecoVirtualcard.*
        </p>
        <div class="col mt-5">
          <button class="btn btn-success px-3 p-3 ">Create an Account</button>
          <a class="link2 p-3" href="#">Learn More</a>
        </div>
      </div>
      <div class="col-sm">
        <img alt="ITeamPay placeholder image" style="color: white !important;" class="img-fluid" src="assets/img/markets.jpg">
      </div>
    </div>
  </div>
</div>
