.inf1{
  margin-left: 0;
  margin-right: 0;
  padding: 32px;
  background-color: #efefef;
  color: #505968;
}

.inf2{
  margin-left: 0;
  margin-right: 0;
  padding: 32px;
  background-color: #2EBFFE;
  color: white;
}

.link2 {
  color: white !important;
  text-decoration: underline;
}

nav a {
  color: #505968;
}
